{% extends 'slider.html' %}


{% block body %}
<!--<body>-->
<!--{% load static %}-->
<!--<hr>-->
<!--   <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-4">-->
<!--        <h2>Co-Founders are</h2>-->
<!--          <li>Muhammad Ishaq</li><li>Muhammad Ali</li><li>Shahid Ali</li>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--          <h2>Our Branches in </h2>-->
<!--          <li>Islamabad</li><li>Rawalpind</li><li>Lahore</li><li>Karachi </li>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <h2>Contact Us On</h2>-->
<!--          <li>Tele No : 05934343434</li><li>Email : hbs@gmail.com</li><li>Feacbook : HBS official</li><li>fax : 02345223234234 </li>-->
<!--     </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--  </div> &lt;!&ndash; /container &ndash;&gt;-->

<!--&lt;!&ndash;      Team Members&ndash;&gt;-->
<!--    <div class="container">-->
<!--        <h1 style="text-align:center;">Team Member<br><br></h1>-->
<!--        <div class="row">-->
<!--                <div class="col-md-4 ">-->
<!--                    <img src='{% static "hotel/t1.jpg" %}'class="card-img-top" style="width: 10rem;height:9rem;border-radius:50%;"alt="...">-->
<!--                    <p style="color:black;width: 60px;"><b>Muhammad Ishaq</b></p>-->
<!--                    <p style="color:black"> Back Hand Developer</p>-->
<!--                </div>-->

<!--            &lt;!&ndash;    team member 2&ndash;&gt;-->
<!--            <div class="col-md-4 ">-->
<!--                    <img src='{% static "hotel/t1.jpg" %}'class="card-img-top" style="width: 10rem;height:9rem;border-radius:50%;"alt="...">-->
<!--                    <p style="color:black;width: 60px;"><b>Muhammad Ishaq</b></p>-->
<!--                    <p style="color:black"> Back Hand Developer</p>-->
<!--            </div>-->
<!--                 &lt;!&ndash;    team member 3&ndash;&gt;-->
<!--            <div class="col-md-4 ">-->
<!--                    <img src='{% static "hotel/t1.jpg" %}'class="card-img-top" style="width: 10rem;height:9rem;border-radius:50%;"alt="...">-->
<!--                    <p style="color:black;width: 60px;"><b>Muhammad Ishaq</b></p>-->
<!--                    <p style="color:black"> Back Hand Developer</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--</body>-->
{% endblock %}